version: "3.9"

services:
  api:
    build: .
    container_name: auth_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    container_name: auth_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
