version: "3.9"

services:
  api:
    build: .
    container_name: auth_api
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
      MONGOURI: mongodb://mongo:27017/AUTH_RESTAPI
      TOKEN_SECRET: Avneesh4444
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    container_name: auth_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
