name: deploy to dockerhub on push

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Log in to dockerhub
        run: echo ${{secrets.DOCKER_TOKEN}} | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin

      - name: Build Image
        run: docker build -t ${{secrets.DOCKER_USERNAME}}/auth_restapi .

      - name: Push Docker Image
        run: docker push ${{secrets.DOCKER_USERNAME}}/auth_restapi
